/********************************
 * styles.ie8
 ********************************/
a {
    color: #cc0000;
    text-decoration: underline;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}